<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Upgrade Automation Test Suite">

	<test name="Upgrade Automation Test Cases">
		<classes>
		    <class name="com.qa.tests.web.CheckRatePageTest"/>
			<class name="com.qa.tests.web.BasicInfoPageTest"/>
			 <class name="com.qa.tests.api.APITest"/>
		</classes>
	</test>
</suite>